#header-cards {
	position: relative;
	height: 543px;
	.first-block {
		height: 40%;
		background-color: #191d8e;
	}
	.second-block {
		height: 60%;
		background-color: #ededff;
	}

	.cards-content {
		width: 1200px;
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-height: 200px;

		.card {
			position: relative;
			width: 237px;
			height: 254px;
			padding: 20px 30px;
			background-color: #fff;
			border: 1px solid #ccccf5;
			border-radius: 7px;
			margin-right: 6px;
			transition: all 0.3s ease-in-out;

			&:hover {
				transform: scale(0.9);
			}

			&:nth-child(even) {
				margin-top: 136px;
			}

			&:last-of-type {
				margin-right: 0;
			}

			.top-content {
				.icon {
					width: 45px;
					margin: auto;
					display: block;
				}
				.plus-circle {
					position: absolute;
					right: 15px;
				}
			}

			.bottom-content {
				position: absolute;
				bottom: 65px;
				max-width: 150px;

				.text {
					font-size: 20px;
					font-weight: bold;
					color: #191d8e;
					line-height: 1.4;
				}
			}
		}
	}
}
