.content-center {
	width: 700px;
	max-width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	.content {
		color: #fff;
		text-align: center;
		.title-post {
			width: 100%;
			font-size: 30px;
			margin-bottom: 20px;
		}
		.txt-description-post {
			max-width: 350px;
			margin: auto;
			font-size: 35px;
			font-weight: lighter;
			font-family: "paytone one";
		}
		.btn-access-website {
			max-width: 200px;
			margin: auto;
			margin-top: 20px;
			height: 45px;
			line-height: 45px;
			text-decoration: none;
			// border: 1px solid #fff;
			color: #fff;
			display: block;

			background-color: #c92009;
			font-size: 12px;
			border-radius: 50px;
			transition: background-color 0.3s linear;

			&:hover {
				background-color: #191d8e;
			}
		}
	}
}

// #home .home-content .home-bg-img2 .content-center .content {
// 	transform: scale(0.8) !important;
// }
