#about-lexsed {
	background-color: #fff;
	background-image: url("../../../public/images/lexsed-l.png");
	background-repeat: no-repeat;
	background-size: 503px;
	background-position: right;

	.about-card-content {
		color: #0c1064;
		margin-top: 60px;
		.about-card {
			width: 400px;
			min-height: 340px;
			padding: 50px 30px;
			background: #ffffff;
			border: 3px solid rgba(201, 202, 231, 0.4);
			border-radius: 20px;

			.top-content {
				.about-card-img {
					width: 55px;
				}
				.txt-description {
					font-weight: bold;
				}
			}
		}

		.bottom-content {
			margin-top: 30px;
			.txt-presentation {
				font-weight: 400;
				font-size: 15px;
				line-height: 30px;
				/* or 167% */

				letter-spacing: -0.015em;

				color: #0c1064;
			}
		}
	}
}
