#nous-rejoindre {
	background-color: #191d8e;
	background-image: url("../../../public/images/shape-l-partenaires.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 600px;

	.title-section,
	.section-description {
		color: #fff;
	}
}
