#header-tabs-content {
	margin-top: 50px;

	.pro-name {
		text-transform: uppercase;
		margin-top: 15px;
		font-weight: bold;
	}

	.inputs-content {
		width: 350px;
		margin: auto;
		margin-top: 20px;

		.rw-popup-container {
			z-index: 9999 !important;
		}
		.rw-widget-picker {
			border-radius: 0;
			border: 1px solid #0c1064;
			color: #0c1064;
			font-size: 15px;
			font-family: "roboto";
			z-index: 99999;
		}
		.rw-dropdown-list {
			width: 100%;
			margin: auto;
			text-align: left;
			margin-bottom: 15px;
		}

		::placeholder {
			color: #0c1064;
		}
	}
}
